
// alert panel template
$igv-webapp-alert-panel-width: 320px;
$igv-webapp-alert-panel-height: 250px;
$igv-webapp-alert-drag-container-height: 32px;

.card {
  position: absolute;
  top: -1000px;
  left: -1000px;

  z-index: 1024;

  width: $igv-webapp-alert-panel-width;
  height: $igv-webapp-alert-panel-height;

  border-color: $spacewalk_aluminum;
  background-color: $spacewalk_snow;

  user-select: none;

  .card-body {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: unset;

    width: 100%;
    height: 100%;

    >.igv-webapp-alert-drag-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: $igv-webapp-alert-drag-container-height;

      background-color: white;

      i {
        cursor: grab;
        color: $spacewalk_steel;
        display: block;
      }

      i:first-child {
        cursor: unset;
        color: transparent;
        background-color: transparent;
      }

      i:last-child {
        cursor: pointer;
        margin-right: 8px;
      }
    }

    >#igv-webapp-alertpanel-card-body-content {
      width: 100%;
      height: $igv-webapp-alert-panel-height - $igv-webapp-alert-drag-container-height;
      background-color: #5ea4e0;
    }

  }

}

