
$spacewalk_color_ramp_canvas_width: 40px;

$spacewalk_color_ramp_panel_width: 80px;
$spacewalk_color_ramp_panel_height: 600px;

$spacewalk_text_box_height: 32px;
$spacewalk_color_ramp_panel_padding: 12px;

//#spacewalk_color_ramp_panel.card {
//
//  #spacewalk_color_ramp_widget_container.card-body {
//
//  }
//
//}
