$spacewalk_licorice: #000000;
$spacewalk_lead: #1e1e1e;
$spacewalk_tungsten: #3a3a3a;
$spacewalk_iron: #545453;
$spacewalk_steel: #6e6e6e;
$spacewalk_tin: #878687;
$spacewalk_nickel: #888787;
$spacewalk_aluminum: #a09fa0;
$spacewalk_magnesium: #b8b8b8;
$spacewalk_silver: #d0d0d0;
$spacewalk_mercury: #e8e8e8;
$spacewalk_snow: #ffffff;
//
$spacewalk_cayenne: #891100;
$spacewalk_mocha: #894800;
$spacewalk_aspargus: #888501;
$spacewalk_fern: #458401;
$spacewalk_clover: #028401;
$spacewalk_moss: #018448;
$spacewalk_teal: #008688;
$spacewalk_ocean: #004a88;
$spacewalk_midnight: #001888;
$spacewalk_eggplant: #491a88;
$spacewalk_plum: #891e88;
$spacewalk_maroon: #891648;
//
$spacewalk_maraschino: #ff2101;
$spacewalk_tangerine: #ff8802;
$spacewalk_lemon: #fffa03;
$spacewalk_lime: #83f902;
$spacewalk_spring: #05f802;
$spacewalk_seam_foam: #03f987;
$spacewalk_turquoise: #00fdff;
$spacewalk_aqua: #008cff;
$spacewalk_blueberry: #002eff;
$spacewalk_grape: #8931ff;
$spacewalk_magenta: #ff39ff;
$spacewalk_strawberry: #ff2987;
//
$spacewalk_salmon: #ff726e;
$spacewalk_cantaloupe: #ffce6e;
$spacewalk_banana: #fffb6d;
$spacewalk_honeydew: #cefa6e;
$spacewalk_flora: #68f96e;
$spacewalk_spindrift: #68fbd0;
$spacewalk_ice: #68fdff;
$spacewalk_sky: #6acfff;
$spacewalk_orchid: #6e76ff;
$spacewalk_lavender: #d278ff;
$spacewalk_bubblegum: #ff7aff;
$spacewalk_carnation: #ff7fd3;
