
// juicebox panel
#spacewalk_juicebox_panel.card {

  width: auto;
  height: auto;

  .card-body {

    #spacewalk_juicebox_root_container {

      .hic-root {
        margin: 0;
        border-color: transparent;
        border-width: thin;
        border-radius: .25rem;
      }
    }

  }

  .card-footer {

    p {
      font: 1.25rem 'Fira Sans', sans-serif;
    }

    label {
      font: 1rem 'Fira Sans', sans-serif;
    }

    input {
      margin: .6rem;
    }

    input[type=text] {
      width: 64px;
    }

    input[type=range] {
      width: 240px;
    }

    output {
      width: fit-content;
      margin-left: 4px;
      margin-right: 8px;
      padding-left: 4px;
      padding-right: 4px;
      background-color: $igv-juicebox-card-background-color;
    }

  }

}
