
// panel template
$spacewalk_tool_panel_width: 512px;
$spacewalk_tool_panel_height: 512px;
$spacewalk_card_drag_container_height: 32px;

.card {
  position: absolute;
  top: -1000px;
  left: -1000px;

  z-index: 1024;

  width: $spacewalk_tool_panel_width;
  height: $spacewalk_tool_panel_height;

  border-color: $spacewalk_aluminum;
  background-color: $spacewalk_snow;

  user-select: none;

  .card-body {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0.125rem;

    width: 100%;

    .spacewalk_card_drag_container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: $spacewalk_card_drag_container_height;
      background-color: transparent;

      i {
        cursor: grab;
        color: $spacewalk_steel;
        display: block;
      }

      i:first-child {
        cursor: unset;
        color: transparent;
        background-color: transparent;
      }

      i:last-child {
        cursor: pointer;
        margin-right: 8px;
      }
    }

  }

}
