$default-font-family: 'Open Sans', sans-serif;
$default-dark-color: #5f5f5f;

#igv-app-share-modal {

  color: $default-dark-color;

  .modal-body {
    font-family: $default-font-family;
    font-size: 16px;
    font-weight: 400;
  }
}

#igv-app-qrcode-image {
  display:none;
}

#igv-app-embed-container {
  display:none;
}

a#igv-app-email-button {
  color: $default-dark-color;
  text-decoration: none;
}

a#igv-app-email-button:hover,
a#igv-app-email-button:focus,
a#igv-app-email-button:active  {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

#igv-app-embed-button:hover,
#igv-app-embed-button:focus,
#igv-app-embed-button:active  {
  cursor: pointer;
  font-weight: 700;
}

#igv-app-qrcode-button:hover,
#igv-app-qrcode-button:focus,
#igv-app-qrcode-button:active  {
  cursor: pointer;
  font-weight: 700;
}

.igv-app-social-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 40px;

  div {
    margin-left: 8px;
    margin-right: 8px;
    //background-color: red;
  }

  div:first-child {
    width:65px;
    margin-top:4px;
  }

  margin-bottom: 10px;
}

.igv-app-social-button {
  float: left;
}
