@import "share-modal";

//
$igv-app-light-color: #f7f7f7;
$igv-app-medium-color: #a6a6a6;
$igv-app-dark-color: #5f5f5f;
$igv-app-dark-dark-color: #373737;
$igv-app-hover-color: #0f0f0f;
$igv-app-padding-width: 8px;
$igv-app-genome-load-widget-height: 200px;
$igv-app-footer-height: 60px;
$igv-app-logo-container-width: 20%;

.igv-app-html {
  position: relative;
  min-height: 100%;
}

.igv-app-body-footerized {
  margin-bottom: $igv-app-footer-height;
}

.igv-app-footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: $igv-app-footer-height;

  color: white;

  line-height: $igv-app-footer-height;
  background-color: $igv-app-medium-color;

  .col {
    width: $igv-app-logo-container-width;
    max-width: $igv-app-logo-container-width;
  }

  .col:nth-child(1) {
    background-color: transparent;
  }

  .col:nth-child(2) {
    background-color: transparent;
  }

  .col:nth-child(3) {
    color: rgba(255, 255, 255, 0.51);
    font-size: 10px;
    width: calc(100% - #{$igv-app-logo-container-width});
    max-width: calc(100% - #{$igv-app-logo-container-width});

    background-color: transparent;

  }

}

.igv-app-modal-position {
  position: relative;

  height: $igv-app-genome-load-widget-height;

  border-color: transparent;

}

.igv-app-navbar-backdrop {
  background-color: $igv-app-dark-color;
}

.monospace {
  font-family: Lucida Console, Courier, monospace;
}

#igv-app-beta-label {
  cursor: default;
  color: $igv-app-medium-color;
  font-size: 18px;
}

.igv-app-site-widget {
  float: left;
  margin-left: 4px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#igv-app-encode-modal .modal-dialog {
  max-width: 75%;
}

.igv-app-disabled {
  color: $igv-app-medium-color;
  pointer-events:none; // This makes it not clickable
  opacity:0.6;         // This grays it out to look disabled
}

.btn-default.app-button {
  color: $igv-app-dark-color;
  border-color: $igv-app-medium-color;
}

.igv-app-background-medium {
  background-color: $igv-app-medium-color;
}

.igv-app-background-dark {
  background-color: $igv-app-dark-color;
}

.igv-app-background-blue-green {
  background-color: mediumaquamarine;
}
