@import "share-modal";

//
$igv-app-light-color: #f7f7f7;
$igv-app-medium-color: #a6a6a6;
$igv-app-dark-color: #5f5f5f;
$igv-app-dark-dark-color: #373737;
$igv-app-hover-color: #0f0f0f;
$igv-app-padding-width: 8px;
$igv-app-genome-load-widget-height: 200px;
$igv-app-footer-height: 60px;
$igv-app-logo-container-width: 20%;

.igv-app-html {
  position: relative;
  min-height: 100%;
}

.igv-app-body-footerized {
  margin-bottom: $igv-app-footer-height;
}

.igv-app-footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: $igv-app-footer-height;

  color: white;

  line-height: $igv-app-footer-height;
  background-color: $igv-app-medium-color;

  .col {
    width: $igv-app-logo-container-width;
    max-width: $igv-app-logo-container-width;
  }

  .col:nth-child(1) {
    background-color: transparent;
  }

  .col:nth-child(2) {
    background-color: transparent;
  }

  .col:nth-child(3) {
    color: rgba(255, 255, 255, 0.51);
    font-size: 10px;
    width: calc(100% - #{$igv-app-logo-container-width});
    max-width: calc(100% - #{$igv-app-logo-container-width});

    background-color: transparent;

  }

}

.igv-app-modal-position {
  position: relative;

  height: $igv-app-genome-load-widget-height;

  border-color: transparent;

}

.igv-app-navbar-backdrop {
  background-color: $igv-app-dark-color;
}

.igv-app-navbar-text {
  color: $igv-app-medium-color;
  font-size: 16px;
}

.igv-app-site-widget {
  float: left;
  margin-left: 4px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#igv-app-encode-modal .modal-dialog {
  max-width: 75%;
}

.igv-app-disabled {
  color: $igv-app-medium-color;
  pointer-events:none; // This makes it not clickable
  opacity:0.6;         // This grays it out to look disabled
}

.btn-default.app-button {
  color: $igv-app-dark-color;
  border-color: $igv-app-medium-color;
}

.igv-app-background-medium {
  background-color: $igv-app-medium-color;
}

.igv-app-background-dark {
  background-color: $igv-app-dark-color;
}

.igv-app-background-blue-green {
  background-color: mediumaquamarine;
}

.igv-app-dropdown-item-cloud-storage {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 18px;

  div:first-child {
    margin-right: 4px;
  }
  div:last-child {
    margin-left: 4px;
  }

}

#igv-app-session-file-button {
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

// Bootstrap modal backdrop
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}


// Override igvjs classes
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container {
  .igv-app-google-drive-button-container {

    height: calc(36px - 8px);
    width: 100%;

    color: $igv-app-medium-color;
    line-height: calc(36px - 8px);
    text-align: center;

  }

  .igv-app-google-drive-button-container:hover {
    cursor: pointer;
    color: $igv-app-dark-color;
  }
}

// ::::::::::::::::::: UNUSED :::::::::::::::::::
.igv-app-dropbox-button {
  cursor: pointer;
  height: 36px;
  width: 36px;

  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../img/dropbox-track-load-button.png);
}

.igv-app-dropbox-button:hover {
  border-color: rgba(0, 0, 0, 0.07);
  background-color: rgba(0, 0, 0, 0.07);
}