.igv-file-load-widget-container {
  position: relative;
  border-color: transparent;
  width: 100%;
  padding-bottom: 20px;
  color: #7F7F7F;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  border-style: solid;
  border-width: thin;
  background-color: white;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }
  .igv-file-load-widget-container .igv-file-load-widget-header {
    width: 100%;
    height: 24px;
    background-color: #bfbfbf;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center; }
    .igv-file-load-widget-container .igv-file-load-widget-header div {
      height: 24px;
      width: 16px;
      margin-right: 6px;
      text-align: center;
      line-height: 24px;
      color: #373737; }
    .igv-file-load-widget-container .igv-file-load-widget-header div:hover {
      cursor: pointer; }
  .igv-file-load-widget-container .igv-flw-input-container {
    width: 95%;
    margin-top: 24px;
    margin-bottom: 0;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
    .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row {
      height: 36px;
      width: 100%;
      margin-top: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      border-color: white;
      border-style: solid;
      border-width: thin;
      border-radius: calc(2 * 2px); }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-input-label {
        color: #6c757c;
        font-weight: 400;
        margin-left: 8px;
        width: 128px;
        height: 36px;
        line-height: 36px;
        text-align: left; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row input {
        display: block;
        height: 100%;
        width: 100%;
        padding-left: 4px;
        font-family: "Open Sans", sans-serif;
        font-weight: 200;
        font-size: 0.875rem;
        color: #373737;
        text-align: left;
        outline: none;
        border-style: solid;
        border-width: thin;
        border-color: #7F7F7F;
        background-color: white; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row input {
        width: 410px;
        height: calc(36px - 12px); }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: calc(36px - 8px);
        border-color: #6c757c;
        border-style: solid;
        border-width: thin;
        border-radius: calc(2 * 2px);
        background-color: white; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label {
          display: block;
          margin: unset; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label.igv-flw-label-color {
          color: #6c757c; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label.igv-flw-label-color-hover {
          cursor: pointer; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container input.igv-flw-file-chooser-input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container:hover {
        cursor: pointer;
        background-color: #6c757c; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-drag-drop-target {
        cursor: default;
        margin-left: 8px;
        width: 120px;
        height: calc(36px - 8px);
        line-height: calc(36px - 8px);
        text-align: center;
        border-color: #7F7F7F;
        border-style: dashed;
        border-width: thin;
        border-radius: calc(2 * 2px); }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-local-file-name-container {
        max-width: 400px;
        height: 36px;
        color: #373737;
        line-height: 36px;
        text-align: left;
        font-weight: 400;
        margin-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row-hover-state {
      background-color: #efefef;
      border-color: #7F7F7F; }
  .igv-file-load-widget-container .igv-flw-error-message-container {
    margin-top: 8px;
    width: 95%;
    height: 24px;
    padding-left: 8px;
    color: white;
    font-size: 0.875rem;
    background-color: rgba(59, 92, 127, 0.5);
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
    .igv-file-load-widget-container .igv-flw-error-message-container div:first-child.igv-flw-error-message {
      height: 24px;
      width: 600px;
      font-style: italic;
      line-height: 24px;
      text-align: left; }
    .igv-file-load-widget-container .igv-flw-error-message-container div:last-child {
      height: 24px;
      width: 16px;
      margin-right: 6px;
      text-align: center;
      line-height: 24px;
      color: #373737; }
    .igv-file-load-widget-container .igv-flw-error-message-container div:hover {
      cursor: pointer; }
  .igv-file-load-widget-container .igv-file-load-widget-ok-cancel {
    width: 100%;
    height: 28px;
    margin-top: 32px;
    color: white;
    font-size: 0.875rem;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div {
      width: 75px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      border-color: transparent;
      border-style: solid;
      border-width: thin;
      border-radius: 2px;
      margin-right: 16px; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:first-child {
      margin-right: 22px;
      background-color: #c4c4c4; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:first-child:hover {
      cursor: pointer;
      background-color: #7f7f7f; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:last-child {
      background-color: #5ea4e0; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:last-child:hover {
      cursor: pointer;
      background-color: #3b5c7f; }

/*# sourceMappingURL=file-load-widget.css.map */
