$igv-widgets-alert-font-face: 'Open Sans', sans-serif;
$igv-widgets-alert-grey-color: #7F7F7F;
$igv-widgets-alert-border-radius: 4px;

$igv-widgets-alert-dialog-width: 400px;
$igv-widgets-alert-dialog-height: 200px;
$igv-widgets-alert-dialog-margin: -150px;

$igv-widgets-alert-dialog-header-height: 24px;
$igv-widgets-alert-dialog-ok-container-height: 64px;
$igv-widgets-alert-dialog-ok-button-height: 30px;
$igv-widgets-alert-dialog-body-copy-margin: 16px;

.igv-widgets-alert-dialog-container {

  box-sizing: content-box;

  position: absolute;
  z-index: 2048;
  top:50%;
  left:50%;

  width:$igv-widgets-alert-dialog-width;
  height:$igv-widgets-alert-dialog-height;

  border-color: $igv-widgets-alert-grey-color;
  border-radius: $igv-widgets-alert-border-radius;
  border-style: solid;
  border-width: thin;

  outline: none;

  font-family: $igv-widgets-alert-font-face;
  font-size: 15px;
  font-weight: 400;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  // header
  > div:first-child {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: $igv-widgets-alert-dialog-header-height;
    cursor: move;

    border-top-left-radius: $igv-widgets-alert-border-radius;
    border-top-right-radius: $igv-widgets-alert-border-radius;
    border-bottom-color: $igv-widgets-alert-grey-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    background-color: #eee;

    div:first-child {
      // ERROR
      padding-left: 8px;
    }

  }

  // body container
  #igv-widgets-alert-dialog-body {
    color: $igv-widgets-alert-grey-color;

    width: 100%;
    height: calc(100% - #{$igv-widgets-alert-dialog-header-height} - #{$igv-widgets-alert-dialog-ok-container-height});

    overflow-y: scroll;

    #igv-widgets-alert-dialog-body-copy {
      cursor: pointer;
      //user-select: none;

      margin: $igv-widgets-alert-dialog-body-copy-margin;

      width: auto;
      height: auto;

      //overflow-x: hidden;
      //overflow-y: scroll;

      overflow-wrap: break-word;
      word-break: break-word;

      background-color: white;
      border: unset;
    }
  }

  // ok - container
  > div:last-child {

    width: 100%;
    margin-bottom: 10px;

    background-color: white;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    // ok - button
    div {
      margin: unset;
      width: 40px;
      height: $igv-widgets-alert-dialog-ok-button-height;

      line-height: $igv-widgets-alert-dialog-ok-button-height;
      text-align: center;

      color: white;
      font-family: $igv-widgets-alert-font-face;
      font-size: small;
      font-weight: 400;

      border-color: #2B81AF;
      border-style: solid;
      border-width: thin;
      border-radius: 4px;
      background-color: #2B81AF;
    }

    div:hover {
      cursor: pointer;
      border-color: #25597f;
      background-color: #25597f;
    }

  }

}
