.DS_Store
*.iml
/dist/
/.idea/
/node_modules/
/build/
/js/igv.js
/js/igv.min.js
/igvjs/
/node_modules
/igvwebConfig-dev.js
/igvwebConfig-bak.js
/igvwebConfig-private.js
/oauthConfig-private.js
/deployConfig.sh
/deployGenomes.sh
/deploy-snapshot.sh
/package-lock.json
/deploy/
/scripts/updateWebappTracks.sh
/css/.sass-cache
