.DS_Store
*.iml
/dist/
/.idea/
/node_modules/
/igvwebConfig-private.js
/package-lock.json
/css/.sass-cache
/scripts/sandbox/
/yarn.lock
.netlify

# Local genome files (symlinks or copies) - created by scripts/setup-local-genome.sh
/data/genomes/
