/*
Error: Invalid CSS after "... site.theme }}"": expected "{", was ";"
        on line 4 of style.scss

1: ---
2: ---
3: 
4: @import "{{ site.theme }}";
5: 
6: body {
7:   font:16px/24px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
8: }
9: 

Backtrace:
style.scss:4
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:1278:in `expected'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:1208:in `expected'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:677:in `block'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:696:in `block_child'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:41:in `parse'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:414:in `_to_tree'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/bin/scss:23:in `load'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/bin/scss:23:in `<main>'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/Users/jrobinso/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"... site.theme }}\"\": expected \"{\", was \";\"\A         on line 4 of style.scss\A \A 1: ---\A 2: ---\A 3: \A 4: @import \"{{ site.theme }}\";\A 5: \A 6: body {\A 7:   font:16px/24px 'Quattrocento Sans', \"Helvetica Neue\", Helvetica, Arial, sans-serif;\A 8: }\A 9: "; }
