---
---

@import "{{ site.theme }}";

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:11px;
  color:#efefef;
  margin: 0 4px;
  padding: 2px 6px;
  background: #333;
  border-radius: 2px;
}
