---
---

@import "{{ site.theme }}";

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:12px;
  color:#554D4B;  
  text-shadow: 0px 0px 0px #000;
  margin: 0 1px;
  padding: 2px 6px;
  background: #EAF4F8;
  border-radius: 2px;
}
