---
---

@import "{{ site.theme }}";

#banner {
  z-index: 100;
  left:0;
  right:50%;
  height: 50px;
  margin-right:-382px;
  position: fixed;
  top: 115px;
  background: #ffcc00;
  border: 1px solid #f0b500;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  border-radius: 0px 2px 2px 0px;
  padding-right: 10px;

    }
  }
