---
---

@import "{{ site.theme }}";

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:11px;
  color:#567482;  
  text-shadow: 0px 0px 0px #000;
  margin: 0 4px;
  padding: 2px 6px;
  background: #f3f6fa;
  border-radius: 2px;
}
